
  .trunPage {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    .full-screen {
        display: block;
        width: 100%;
        height: 90vh;
        overflow: hidden;
      }
      #map {
        background-color: antiquewhite;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 550vw;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
      }
    #intro {
        height: 800px;
        width: 100%;
        background-color: antiquewhite;
    }
    .scroll-concc {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        position: relative;
    }
    #panels #panels-container {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding: 0;
        // overflow: hidden;
        background-color: antiquewhite;
        border: 1px solid #ccc;
      }
      #panels {
        height: 100%;
        width: 100%;
        position: relative;
      }
      #panels #panels-container .panel {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #333;
        text-align: left;
        border-right: 1px solid rgb(143, 134, 78);
      }
      #panels #panels-container .panel img {
        max-width: 100%;
        height: auto;
        display: block;
      }
      #panels #panels-container .panel .panels-navigation {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
      #panels #panels-container .panel .anchor-panel,
      #panels #panels-container .panel .nav-panel {
        color: #000;
        text-transform: uppercase;
        margin-right: 2rem;
      }
      #panels #panels-container .panels-navigation {
        position: absolute;
        width: 100%;
        bottom: 2rem;
        right: 2rem;
      }
      .down_page {
        height: 600px;
        width: 100%;
        background-color: antiquewhite;
      }
  }
  