.videoList {
    height: 100%;
    width: 100%;
    padding: 16px;
    .searchTopRow {
        padding: 16px;
    }
    .operRow {
        margin: 16px 0;
    }
    .tableMarkers {
        height: 36px;
        width: 36px;
    }
    .detailDes {
        margin: 16px;
        width: 880px;
        height: 300px;
    }
}

.runMark {

    
}