.box_btn {
    .btn {
        display: block;
        padding: 0.7em 1em;
        background: transparent;
        outline: none;
        border: 0;
        color: #0ac0e8;
        letter-spacing: 0.1em;
        font-family: monospace;
        font-size: 17px;
        font-weight: bold;
        z-index: 1;
    }

    .cube {
        position: relative;
        transition: all 0.5s;
    }

    .cube .bgTop {
        position: absolute;
        height: 10px;
        background: #0ac0e8;
        bottom: 100%;
        left: 5px;
        right: -5px;
        transform: skew(-45deg, 0);
        margin: 0;
        transition: all 0.4s;
    }

    .cube .bg-top .bgInner {
        bottom: 0;
    }

    .cube .bg {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        background: #0ac0e8;
        transition: all 0.4s;
    }

    .cube .bgRight {
        position: absolute;
        background: #0ac0e8;
        top: -5px;
        z-index: 0;
        bottom: 5px;
        width: 10px;
        left: 100%;
        transform: skew(0, -45deg);
        transition: all 0.4s;
    }

    .cube .bgRight .bgInner {
        left: 0;
    }

    .cube .bgInner {
        background: #1c5ac5;
        position: absolute;
        left: 2px;
        right: 2px;
        top: 2px;
        bottom: 2px;
    }

    .cube .text {
        position: relative;
        transition: all 0.4s;
    }

    .cube:hover .bgInner {
        background: #0ac0e8;
        transition: all 0.4s;
    }

    .cube:hover .text {
        color: #1c5ac5;
        transition: all 0.4s;
    }

    .cube:hover .bgRight,
    .cube:hover .bg,
    .cube:hover .bg-top {
        background: #1c5ac5;
    }

    .cube:active {
        z-index: 9999;
        animation: bounce .1s linear;
    }

    @keyframes bounce {
        50% {
            transform: scale(0.9);
        }
    }
}
.box_btn2 {

    button {
       min-width: 70px;
        position: relative;
        height: 30px;
        border: 3px ridge #149CEA;
        outline: none;
        background-color: transparent;
        color: white;
        transition: 1s;
        border-radius:8px;
        font-size: 16px;
        font-weight: bold;
      }
      
      button::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 3%;
        width: 95%;
        height: 40%;
        background-color: transparent;
        transition: 0.5s;
        transform-origin: center;
      }
      
      button::before {
        content: "";
        transform-origin: center;
        position: absolute;
        top: 80%;
        left: 3%;
        width: 95%;
        height: 40%;
        background-color: transparent;
        transition: 0.5s;
      }
      
      button:hover::before, button:hover::after {
        transform: scale(0)
      }
      
      button:hover {
        box-shadow: inset 0px 0px 25px #1479EA;
      }
}
.box_btn3{

    button {
        position: relative;
        padding: 8px 20px;
        border-radius: 7px;
        border: 1px solid #282C34;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        background: transparent;
        color: #fff;
        overflow: hidden;
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
      }
      
      button:hover {
        background: #037b9f;
        box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
      
      button:hover::before {
        -webkit-animation: sh02 0.5s 0s linear;
        -moz-animation: sh02 0.5s 0s linear;
        animation: sh02 0.5s 0s linear;
      }
      
      button::before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #fff;
        box-shadow: 0 0 50px 30px #fff;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
      }
      
      @keyframes sh02 {
        from {
          opacity: 0;
          left: 0%;
        }
      
        50% {
          opacity: 1;
        }
      
        to {
          opacity: 0;
          left: 100%;
        }
      }
      
      button:active {
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: box-shadow 0.2s ease-in;
        -moz-transition: box-shadow 0.2s ease-in;
        transition: box-shadow 0.2s ease-in;
      }
      
}
.box_btn4 {
    height: 100%;
    line-height: 100%;

    .button2 {
        min-width: 120px;
        display: inline-block;
        transition: all 0.2s ease-in;
        position: relative;
        overflow: hidden;
        z-index: 1;
        color: #000000;
        padding:8px 12px;
        font-size: 18px;
        border-radius: 0.5em;
        background: #5b636d;
        border: 1px solid #1b1b1c;
        box-shadow: 6px 6px 12px #a6a8a9,
                   -6px -6px 12px #414141;
      }
      
      .button2:active {
        color: #e11919;
        box-shadow: inset 4px 4px 12px #c5c5c5,
                   inset -4px -4px 12px #5d5e5f;
      }
      
      .button2:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleY(1) scaleX(1.25);
        top: 100%;
        width: 140%;
        height: 180%;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
      }
      
      .button2:after {
        content: "";
        position: absolute;
        left: 55%;
        transform: translateX(-50%) scaleY(1) scaleX(1.45);
        top: 180%;
        width: 160%;
        height: 190%;
        background-color: #046985;
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
      }
      
      .button2:hover {
        color: #ffffff;
        border: 1px solid #046985;
      }
      
      .button2:hover:before {
        top: -35%;
        background-color: #046985;
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      }
      
      .button2:hover:after {
        top: -45%;
        background-color: #046985;
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      }
      
}
.box_btn5 {
    .button {
        margin: 0;
        height: auto;
        background: transparent;
        padding: 0;
        border: none;
      }
      
      /* button styling */
      .button {
        --border-right: 6px;
        --text-stroke-color: rgba(255,255,255,0.6);
        --animation-color: #0cbbc7;
        --fs-size: 2em;
        letter-spacing: 3px;
        text-decoration: none;
        font-size: var(--fs-size);
        font-family: "Arial";
        position: relative;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--text-stroke-color);
      }
      /* this is the text, when you hover on button */
      .hoverText {
        position: absolute;
        box-sizing: border-box;
        content: attr(data-text);
        color: var(--animation-color);
        width: 0%;
        inset: 0;
        border-right: var(--border-right) solid var(--animation-color);
        overflow: hidden;
        transition: 0.5s;
        -webkit-text-stroke: 1px var(--animation-color);
      }
      /* hover */
      .button:hover .hoverText {
        width: 100%;
        filter: drop-shadow(0 0 23px var(--animation-color))
      }


}