
.tip-detail{
    background-color: #dbffcf;
    box-shadow: inset 0 -3px 10px rgba($color: #000000, $alpha: 0.2),
    1px 0 2px rgba($color: #000000, $alpha: 0.2),
    2px 2px 1px rgba($color: #000000, $alpha: 0.3);
    padding: 18px;
    border-radius: 16px;
    position: relative;
    cursor: move;
    .close-right {
        position:absolute;
        right: 12px;
        top: 8px;
        cursor: pointer;
    }
}
.tip-row {
   
    min-width: 130px;
    display: flex;
    flex-direction: row;
    height: 32px;
    line-height: 32px;
    .label-tip {
        min-width: 50px;

    }
}
.func-btn {
    position: absolute;
    top: 44px;
    left: 0px;
    z-index: 100;
}

.btn-self {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: rgb(4, 83, 157);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    margin-left: 30px;
    border-radius: 20px;
    
   }
   
   .btn-self::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #000;
    background-color: rgb(98, 167, 241);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn-self:hover::before {
    transform: translateX(0);
   } 

   .localMap{
    width: 30px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
   }
   .leftTree {
    position: absolute;
    top:180px;
    left: 5px;
    min-height: 200px;
    max-height: 530px;
    overflow: auto;
    width: 220px;
    background-color: #fff;
    padding: 12px;
    box-shadow: inset 0 -3px 10px rgba($color: #000000, $alpha: 0.2),
    1px 0 2px rgba($color: #000000, $alpha: 0.2),
    2px 2px 1px rgba($color: #000000, $alpha: 0.3);
    border-radius: 20px;
   }
   .css_animation{
    height:50px;
    width:50px;
    border-radius: 25px;
    background: rgba(84, 236, 82, 0.9);

    transform: scale(0);
    animation: myfirst 3s;
    animation-iteration-count: infinite;
}
@keyframes myfirst{
    to{
        transform: scale(2);
        background: rgba(0, 0, 0, 0);
    }
}
.echart-pie {
    width: 400px;
    height: 400px;
}
.echart-pie-child {
    width: 400px;
    height: 400px;
    
}